* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-size: 21px;
  transition: all 0.2s;
}

/* NAVBAR */
.navbar {
  background-color: #ba8eaf;
  height: 62px;
}
.nav-container {
  height: 62px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.1);
  justify-content: space-between;
}

.nav-content ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav-content li {
  color: #f7f6f5;
  width: 300 px;
  padding: 10px;
  margin: 0 20px;
  display: inline-block;
  line-height: 40px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
}

#music-logo {
  object-fit: contain;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}

/* content of page */
.content {
  text-align: center;
}

#title {
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 30px;
}
.contact-container {
  max-width: 400px;
  margin: auto;
}
.contact-form {
  width: 90%;
  height: 380px;
  display: inline-block;
  box-shadow: 2px 2px 50px lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
}

.form-information {
  width: 100%;
  text-align: left;
}

.form-header {
  letter-spacing: 1px;
}

.empty-form-box {
  width: 95%;
  border: 2px solid lightgrey;
  margin: 7px;
  border-radius: 10px;
}

.short {
  height: 50px;
}

.long {
  height: 100px;
}

#submit {
  margin: auto;
}

#submit {
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 1rem;
  background-color: #ba8eaf;
  font-size: 20px;
  color: white;
}

#submit:hover {
  background-color: #cfb0c7;
  font-size: 21px;
  transition: all 0.2s;
}

@media (max-width: 800px) {
  .nav-content li {
    font-size: 15px;
    margin: 0;
    padding: 5px;
  }
}
