* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 25px;
  transition: all 600ms;
}

/* NAVBAR */
.navbar {
  background-color: #ba8eaf;
}
.nav-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.1);
  justify-content: space-between;
}

.nav-content ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav-content li {
  color: #f7f6f5;
  width: 300 px;
  padding: 10px;
  margin: 0 20px;
  display: inline-block;
  line-height: 40px;
  font-size: 20px;
  font-weight: 200;
}
