/* GLOBAL */

* {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

p {
  font-weight: 50;
  font-size: 14px;
  line-height: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 25px;
  transition: all 600ms;
}

/* NAVBAR */
.navbar {
  background-color: #ba8eaf;
  height: 62px;
}
.nav-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.1);
  justify-content: space-between;
}

.nav-content ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav-content li {
  color: #f7f6f5;
  width: 300 px;
  padding: 10px;
  margin: 0 20px;
  display: inline-block;
  line-height: 40px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
}

#music-logo {
  object-fit: contain;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
}

/* TOP BANER */

.banner {
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #ba8eaf;
  z-index: -4;
  text-align: center;
}

#record-player-pic {
  object-fit: contain;
  max-width: 500px;
  z-index: 3;
  margin-top: -100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner-content {
  padding-top: 120px;
  height: 190px;
  display: inline-block;
}

.title-line {
  display: flex;
  text-align: center;
}

.note-img {
  object-fit: contain;
  max-height: 150px;
}

#title {
  font-size: 6.5rem;
  margin-left: 2rem;
  margin-top: 1rem;
  font-weight: 400;
  color: #f7f6f5;
  letter-spacing: 0.2rem;
}

.buttons {
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 3%;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 1rem;
  background-color: rgb(255, 255, 255, 0.2);
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.buttons:hover {
  background-color: #edb5bf;
  font-size: 50px;
  transition: all 0.2s;
}

/* INFORMATION BOXES */

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
  text-align: center;
}

.boxes {
  height: 400px;
  width: 300px;
  box-shadow: 2px 2px 50px lightgrey;
  border-radius: 10px;
  border-color: lightgrey;
  margin: 15px;
  padding: 10px;
  display: inline-block;
}

.text-in-box {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 3rem;
  text-align: left;
}

.box-header {
  text-align: left;
  font-size: 20px;
}

/* SOCIAL MEDIA INFORMATION */
.social-media {
  width: 100%;
  height: 400px;
  background-color: #ba8eaf;
}

/* conditions */
@media (max-width: 820px) {
  #title {
    font-size: 4.5rem;
  }
  .note-img {
    height: 100px;
  }
}
